.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    color: rgba($color: #FFF, $alpha: .7);
    background-color: rgba($color: #001100, $alpha: 0.5);
    z-index: 2;
    transition: all .1s cubic-bezier(0.075, 0.82, 0.165, 1)
}

.sidebar.collapse{
    width: 0;
    overflow:hidden
}