.sidebar-toggler {
  font-size: 3em;
  border-radius: 20%;
  padding: 10px;
  color: rgba($color: #fff, $alpha: 0.9);
  background-color: rgba($color: #002200, $alpha: 0.65);
  box-shadow: 0 0 50px forestgreen;
  cursor: pointer;
  position: absolute;
  z-index: 2;
  right: 40%;
  bottom: 25px;
  @include breakpoint(min-width $breakpoint-desktop) {
    right: 25px;
  }
}

.sidebar-toggler:hover::before {
  font-size: 0.25em;
  bottom: 80px;
  right: -15px;
  width: 80px;
  padding: 5px 10px;
  border-radius: 10px;
  background-color: rgba($color: #000100, $alpha: 0.85);
  position: absolute;
  content: "Toggle Menu";
}
