.rounded-button{
    font-size: 3em;
    border-radius: 20%;
    padding: 10px;
    color: rgba($color: #FFF, $alpha: 0.7);
    background-color: rgba($color: #001100, $alpha: 0.65);
}

.sidebar-toggler{
    cursor: pointer;
    position: absolute;
    z-index: 2;
    right: 25px;
    bottom: 25px;
}