@import './components/_Map';
@import './components/_Sidebar';
@import './components/_SidebarToggler';
@import './components/_Geocoder';

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}